@import '~bootstrap/scss/bootstrap';

body {
  background-image: linear-gradient( #89A621, #D5D977);
  background-repeat: no-repeat;
  height: 100%;
  background-attachment: fixed;
  font-family: 'Josefin Sans', sans-serif;
  color: #172601;
}

h1 {
  color: #172601;
  text-align: center;
  font-family: 'Bungee Shade', cursive;
  font-size: 65px;
  color: #403527;
  background-clip: border-box;
}

.form {
  display: flex;
  align-items: stretch;
  justify-content: center;
}
#sign-in-form {
  margin-left: 40px;
}
#signinandup {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#sign-out-form {
  margin: 0px 0px 0px 65px;
}

#changepasswordbutton {
  margin: 0px 0px 0px 20px;
}

#createplantbutton {
  margin: 0px 0px 0px 20px;
}

#update-plant-form  {
  margin: 0px 0px 0px 20px;
}

input {
  outline: none;
  border-radius: 5px;
  background-color: #F2CBBD;
}
#pformandsignout {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#createandgetplants {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px 0px 0px 0px;
}

#get-plants-form {
  margin: 0px 0px 0px 95px;
}

#changeanddeleteplant {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#message {
  text-align: center;
  text-transform: capitalize;
  text-decoration: bold;
  margin: 25px;

}
